* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 239, 186);
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  text-align: center;
  padding: 1rem 0;
}

.operationSect {
  width: 100%;
  margin: 0;


  .formstyle {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    margin: 1rem 0;



    label {
      margin-bottom: .5rem;
      display: block;
    }
  }


  .inputstyletags {
    position: relative;
    width: 50%;
    display: flex;

    .tagcheck {
      position: absolute;
      right: 0%;
    }

    .tagLabel {
      text-align: center;
    }


  }

}


.checktags {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.card {
  width: 80%;
  margin: 1rem auto;
  background-color: beige;
  border-radius: 1rem;

  h3 {
    text-align: center;
    width: 100%;
    padding: .75rem 0;
  }

  .imagcont {
    width: 50%;
    float: left;
    margin-right: 1rem;
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }

  .description {
    margin-bottom: 1rem;

  }

  .tags {
    display: flex;
    justify-content: space-evenly;

    .tag {
      margin-bottom: .25rem;
    }
  }
}